.mini_box{
    width: 149px;
    height: 116px;
    border-radius: 6px;
    border: 2px solid rgba(235, 235, 235, 1);
    margin: -12px 0px 1px 43rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;
    position: absolute;
    box-shadow: 10px 10px 5px #aaaaaa;
    
}

.top_1{
    padding-left: 37px;
    color: rgba(113, 113, 113, 1);
    cursor:pointer;
}

.top_2{
    padding-left: 37px;
    color: rgba(211, 56, 82, 1);
    cursor:pointer;

}